{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Stock Trek Web</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/stlogo.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>

  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">ST<span>.</span></a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
            
           
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#about" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Stock Trek</h1>
          <h2>We are here to help you.</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <h3><a href="{%url 'ITC'%}">ITC</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <h3><a href="{%url 'adani'%}">Adani</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <h3><a href="{%url 'reliance'%}">Reliance</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <h3><a href="{%url 'bajaj'%}">Bajaj Finance</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <h3><a href="{% url 'HUL' %}">HUL</a></h3>
          </div>
        </div>
      </div>
      <div id="chatbot">
        <div id="chatbot-header">Daily News</div>
        <div id="chatbot-body">
          <div id="chatbot-messages">
            {% if ans%}
            {{ans}}
            {% endif %}
          </div>
          <div id="chatbot-input">
            <form action ="/bot_search/",method="GET">
            <input type="text" id="chatbot-text-input" name = "query">
            <button id="chatbot-send-button" type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
      <script>
      document.getElementById("chatbot-send-button").addEventListener("click", function ())
      const messagesContainer = document.getElementById("chatbot-messages");
      const input = document.getElementById("chatbot-text-input").value;
      
      const message = document.createElement("div");
      message.innerHTML = input;
      messagesContainer.appendChild(message);
    
      </script>       

    </div>
                                                                                                                
  </section>
  

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="/static/assets/img/im1.webp" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>The Stock market allows buyers and sellers of securities to meet, interact, and transact.</h3>
            <p class="fst-italic">
              The markets allow for price discovery for shares of corporations and serve as a barometer for the overall economy. Buyers and sellers are assured of a fair price, a high degree of liquidity, and transparency as market participants compete in the open market.

            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Read about the company that you want to invest in. Find out what their business is. Visit their website, read news articles related to the company..</li>
              <li><i class="ri-check-double-line"></i> It is important to analyse the past performance to understand how the company has grown over the years. Read the balance sheets to see how their balance sheets have grown in the past..</li>
            </ul>
            <p>
              Always read about the people who are running the company. Find out their background and how long they have spent with the company. Frequent changes in the top management, inexperienced top managers may be poor indicators while picking the right stock. 
            </p>
          </div>
        </div>

      </div>
    </section>
       <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("/static/assets/img/im2.png");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>ITC</h4>
              <p>ITC is a constituent of two major stock market indices of India: BSE SENSEX and NIFTY 50 of NSE.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-bulb"></i>
              <h4>Adani</h4>
              <p>Adani Group is an Indian multinational conglomerate, headquartered in Ahmedabad. It was founded by Gautam Adani, in 1988 as a commodity trading business, with the flagship company Adani Enterprises.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-dollar"></i>
              <h4>Reliance</h4>
              <p>You can easily buy Reliance Industries shares in Groww by creating a demat account and getting the KYC documents verified online.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-money"></i>
              <h4>Bajaj Finance</h4>
              <p>Bajaj Finance Limited is a deposit-taking Non-Banking Financial Company registered with the RBI. </p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Sushant University , Sector-55, Gurugram, India</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>stocktrek@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 9319338288</p>
              </div>

            </div>

          </div>

      

      </div>
    </section>

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Stock Trek<span>.</span></h3>
              <p>
                Sushant University <br>
                Sector-55, Gurugram, India<br><br>
                <strong>Phone:</strong> +91 9391338288<br>
                <strong>Email:</strong> stocktrek@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>


      </div>
    </div>
  </footer><!-- End Footer -->
 

  {% comment %} <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> {% endcomment %}

  <!-- Vendor JS Files -->
  <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>


  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>

</body>

</html>